<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>323982239425-nbh62tdl1esn9nqs0nkfjna4mnd0fjp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323982239425-nbh62tdl1esn9nqs0nkfjna4mnd0fjp7</string>
	<key>API_KEY</key>
	<string>AIzaSyCVnIoTKBa8Ela7pupwCk9xKmGaTtq5VuE</string>
	<key>GCM_SENDER_ID</key>
	<string>323982239425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dag.GolfTourney</string>
	<key>PROJECT_ID</key>
	<string>tourneymaker-261e1</string>
	<key>STORAGE_BUCKET</key>
	<string>tourneymaker-261e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:323982239425:ios:cc0338c108e72306</string>
	<key>DATABASE_URL</key>
	<string>https://tourneymaker-261e1.firebaseio.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb1862306687391788</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1862306687391788</string>
    <key>FacebookDisplayName</key>
    <string>TourneyMaker</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
</dict>
</plist>
